/* src/Components/Projects/ProjectCard.css */

.project-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 55px;
    padding: 2rem;
    margin:  2rem 1rem 5rem;
    width: calc(15% - 2rem); /* Adjust based on how many cards you want per row */
    box-shadow: 0 2px 4px rgba(211, 207, 207, 0.1);
    
    
  }
  
  .project-card h3 {
    margin: 0 0 0.5rem;
  }
  
  .project-card p {
    margin: 0 0 1rem;
  }
  
  .project-card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project-card a:hover {
    text-decoration: underline;
  }
  

  .projects {
    padding: 6rem; /* Increased padding */
    background-color: rgb(22, 23, 24);
    margin-left: 40px;
    margin-right: 40px;
}

