/* Media queries */


@media (max-width: 1024px) {
    .skills-section {
      padding: 15px 5px;
      margin: 1.5rem 5px;
    }
    
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      gap: 30px;
      padding-left: 0px;
    }
    
    .skills-card {
      padding: 1px;
      width: 100%;
      margin-left: 2rem;
    }
    
    .devicon {
      width: 30px;
    }
  }

  
  /* Small tablets (820px and below) */
  @media (max-width: 923px) {
    .skills-section {
      margin: 3rem 10px;
    }
    
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
      gap: 30px;
      padding-left: 1px;
    }
    
    .skills-card {
      padding: 1px;
    }
    
    .devicon {
      width: 40px;
    }
  }


 /* Small tablets (820px and below) */
 @media (max-width: 789px) {
    .skills-section {
      margin: 3rem 10px;
    }
    
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      gap: 30px;
      padding-left: 1px;
    }
    
    .skills-card {
      padding: 1px;
    }
    
    .devicon {
      width: 40px;
    }
  }







  
  
  /* Small devices (550px and below) */
  @media (max-width: 550px) {
    .skills-section {
      padding: 20px 10px;
      margin: 2rem 5px;
    }
    
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
      gap: 35px;
      padding-left: 5px;
    }
    
    .skills-card {
      padding: 1px;
      width: 100%;
      margin-left: 2rem;

    }
    
    .devicon {
      width: 50px;
    }
  }
  
  
  /* iPhone SE and similar (375px and below) */
  @media (max-width: 395px) {
    .skills-section {
      padding: 15px 5px;
      margin: 1.5rem 5px;
    }
    
    .skills-grid {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      gap: 30px;
      padding-left: 0px;
    }
    
    .skills-card {
      padding: 1px;
      width: 100%;
      margin-left: 2rem;
    }
    
    .devicon {
      width: 30px;
    }
  }


    /* iPhone SE and similar (375px and below) */
    @media (max-width: 360px) {
        .skills-section {
          padding: 15px 5px;
          margin: 1.5rem 5px;
        }
        
        .skills-grid {
          grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
          gap: 25px;
          padding-left: 0px;
        }
        
        .skills-card {
          padding: 4px;
          width: 100%;
          margin-left: 2rem;
        }
        
        .devicon {
          width: 40px;
        }
      }