/* src/Components/Contact/ContactForm.css */

.contact {
    padding: 2rem;
    background-color: rgb(22, 23, 24); /* Light background color */
    border-radius: 8px; /* Rounded corners */
    max-width: 40rem; /* Max width for better readability */
    margin: 2rem auto; /* Center the section with margin */
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .contact h2 {
    font-size: 2rem; /* Heading size */
    margin-bottom: 1rem; /* Space below heading */
    color: #ffffff; /* Dark color for heading */
  }

.contact label  {
  color: #ffffff;
}
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .form-group {
    margin-bottom: 2.5rem; /* Space between form groups */
  }
  
  label {
    display: block; /* Label on a new line */
    margin-bottom: 0.5rem; /* Space below label */
    font-weight: bold; /* Bold label text */
  }
  
  input,
  textarea {
    width: 90%; /* Full width inputs */
    padding: 0.5rem; /* Inner padding for inputs */
    border: 1px solid #ffffff; /* Light border color */
    border-radius: 4px; /* Rounded corners */
    margin-left: 8px;
  }
  
  textarea {
    height: 100px; /* Set height for textarea */
  }
  
  
  button {
    padding: 0.7rem 1.5rem;
    border: none;
    background-color: #9872ff;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; /* Add some space from the form */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Center the button */
  }
  
  button:hover {
    background-color: #099405; /* Darken button on hover */
  }
  
  .error {
    color: red; /* Red color for error messages */
    font-size: 0.9rem; /* Smaller size for error messages */
  }
  
  .success-message {
    color: green; /* Green color for success message */
    margin-bottom: 1rem; /* Space below success message */
  }
  
  html {
    scroll-padding-top: 110px; /* Adjust based on your header height */
  }
  
